extends ./base/layout.pug

block content
    #theGrid
        .fixed_navbar
            .submenu(style="z-index:10000;")
                #dropdownMenu.dropdown-menu(aria-labelledby='dropdownMenuLink')
                    a.dropdown-item.js-rvsOpen(href='#') RSPV NOW
                    a.dropdown-item.js-details(href='#') GALA DETAILS
                    //a.dropdown-item(href='#') Something else here
            a#dropdownMenuLink.btn_menu.cl--green.txt_upper
                span.icon_menu--svg
                    svg(xmlns='http://www.w3.org/2000/svg' id='line_path.svg' width='55' height='55' viewbox='0 0 55 55')
                        defs
                            style.
                                .cls-1 {
                                    fill: #fff;
                                }
                        circle(cx='27.5' cy='27.5' r='27.5')
                        g#Grupo_1(data-name='Grupo 1')
                            rect.cls-1(x='16' y='19' width='24' height='2.813')
                            rect#sss.cls-1(x='16' y='33.188' width='24' height='2.813')
                            rect#Rectangle_9_copy_2.cls-1(data-name='Rectangle 9 copy 2' x='16' y='25.594' width='24' height='2.813')

        .wrapper
            .page
                .left-side.bgi.bgi--intro
                    .icon.icon_logo
                    .box_opening.w-100.d-block.txt_center
                        .title.title_openin.cl--white.txt_spacing--x05.txt_size--em2
                            | HONORING OUR PAST
                            span.cl--green  CELEBRATING OUR FUTURE
                .right-side
                    .full_container.bgc--white
                        .w-100.box_content.pd_bottom--x50
                            #section1.item.content_item.txt_center.pt-5
                                .icon.icon_celebrate
                                .title.txt_upper.mg_bottom--x50
                                    .txt_upper.cl--black.txt_size--em2 UNDER THE STARS!
                                .intro.mg_bottom--x50
                                    h2.txt_upper.cl--black.display-4 Friday | Nov 30, 2018
                                .w-75.mx-auto.mb-5
                                    .paragraf
                                        h2.cl--black.txt_size--em3 We are so excited to <br> celebrate with you!
                                .acction.mg_bottom--x25
                                    button.btn.btn_site.js-details(type="button") View Details
                                .txt_center.d-block.mb-5
                                    hr.hr_site
                                .w-100.mx-auto.mb-5
                                    .paragraf.txt_upper
                                        .h4.cl--black Kindly respond by November 15, 2018
                                .acction.mg_bottom--x50
                                    button.btn.btn_site--black.js-rvsOpen(type="button") RVSP HERE
                            #section2.item.content_item.txt_center
                                .txt_right
                                    button.btn.closeSection
                                        span.icon.icon_close.close-button
                                .bdb--gains.bdb--x2.w-100.mb-5
                                    .mx-auto
                                        .title.txt_upper.mb-3
                                            .txt_two.txt_upper.txt_bold.cl--black.txt_size--em2a Where
                                        .subtitle.txt_upper.mb-2.cl--gray.txt_bold.txt_spacing--x05
                                            | Biscayne LAdy Yatch
                                        .info.mb-2.cl--gray.w-50.mx-auto
                                            span.txt_upper Bayside Market Place & Marina br
                                            | 401 Biscayne Blvd. Miami, Florida 33132
                                        ul.list--inline.list_link--green.mb-5.mx-auto(style="white-space: nowrap;")
                                            li
                                                a.btn_link(href="https://www.google.com/maps/place/401+Biscayne+Blvd,+Miami,+FL+33132,+USA/@25.777468,-80.1853355,17z/data=!4m5!3m4!1s0x88d9b420599c42b5:0x4766c9b911455a89!8m2!3d25.7780573!4d-80.187095?hl=en", target="_blank") Get Directions
                                            li |
                                            li
                                                a.btn_link(href="bayside_marketplace-bayfront_dock_map.pdf" download="whereToPark" target="_blank") Where to Park
                                .bdb--gains.bdb--x2.w-100.mb-5
                                    .mx-auto
                                        .title.txt_upper.mb-3
                                            .txt_two.txt_upper.txt_bold.cl--black.txt_size--em2a schedule
                                        .subtitle.txt_upper.mb-2.cl--gray.txt_bold.mb-3
                                            | From 7:00 pm to 12:00 AM
                                        .info.mb-2.cl--gray.mb-5.mx-auto(style="width: 360px; white-space: nowrap;")
                                            | 07:00 pm - 07:30 pm.........................Boarding <br>
                                            | 07:30 pm - 11:30 pm...........Gala Celebration <br>
                                            | 11:30 pm - 12:00 am..................Disembarking <br>

                                .bdb--gains.bdb--x2.w-100.mb-5
                                    .w-50.mx-auto
                                        .title.txt_upper.mb-3
                                            .txt_two.txt_upper.txt_bold.cl--black.txt_size--em2a GUEST ATTIRE
                                        .subtitle.txt_upper.mb-2.cl--gray.txt_bold.txt_spacing--x05
                                            | Ladies
                                        .info.mb-2.cl--gray.mb-5.txt_center
                                            | Silver or Black formal cocktail dress or a long evening gown
                                        .subtitle.txt_upper.mb-2.cl--gray.txt_bold.txt_spacing--x05
                                            | GENTLEMEN
                                        .info.mb-2.cl--gray.mb-5.txt_center
                                            | Black dress pants with a button-down shirt or a formal black suit
                                .bdb--gains.bdb--x2.w-100.mb-5
                                    .w-50.mx-auto
                                        .title.txt_upper.mb-3
                                            .txt_two.txt_upper.txt_bold.cl--black.txt_size--em2a Contact us
                                        .info.mb-2.cl--gray.mb-5.txt_center
                                            | For more information please contact<br>
                                            span.txt_bold.txt_upper Livia Calzadilla
                            #section3.item.txt_center.content_item
                                .txt_right
                                  button.btn.closeSection
                                    span.icon.icon_close.close-button
                                .bdb--gains.bdb--x2.w-100.mb-5
                                    .w-50.mx-auto
                                        .title.txt_upper.mb-3
                                            .txt_upper.txt_bold.cl--black.txt_size--em3 Where
                                        .subtitle.txt_upper.mb-2.cl--gray.txt_bold
                                            | Biscaline
                                        .info.mb-2.cl--gray
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        ul.list--inline.list_link--green.mb-5
                                            li
                                                a.btn_link(href="#") Hello
                                            li |
                                            li
                                                a.btn_link(href="#") Reception
                                .bdb--gains.bdb--x2.w-100.mb-5
                                    .w-50.mx-auto
                                        .title.txt_upper.mb-3
                                            .txt_upper.txt_bold.cl--black.txt_size--em3 Schudele
                                        .subtitle.txt_upper.mb-2.cl--gray.txt_bold
                                            | From
                                        .info.mb-2.cl--gray.mb-5
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            #section4.item.content_item
                                .txt_right
                                  button.btn.closeSection
                                    span.icon.icon_close.close-button
                                .bdb--gains.bdb--x2.w-100.mb-5
                                    .w-75.mx-auto
                                        .title.txt_upper.mb-5.txt_center
                                            .txt_upper.txt_bold.cl--black.txt_size--em3 RVSP Form
                                        form#formulario
                                            .row
                                                .col
                                                    .form-group
                                                        label.txt_bold
                                                            | First name
                                                        input.form-control.firstName#firstName(type="text", name="firstName")
                                                        .alert.hidden
                                                            small Add first names
                                                .col
                                                    .form-group
                                                        label.txt_bold
                                                            | Last name
                                                        input.form-control.lastName#lastName(type="text", name="lastName")
                                                        .alert.hidden
                                                            small Add last names
                                            .row
                                                .col.mb-5
                                                    .form-group
                                                        label.txt_bold
                                                            | Email
                                                        input.form-control.email#email(type="text", name="email")
                                                        .alert.hidden
                                                            small Add your email
                                            .row
                                                .col.mb-5
                                                    button.btn.btn_submit#findMyInvitation Find my Invitation
                                #sectionECO.bdb--gains.bdb--x2.w-100.mb-5
                                    .w-75.mx-auto
                                        .title.txt_upper.mb-5.txt_center
                                            .txt_upper.txt_bold.cl--black.txt_size--em3 RVSP Form
                                        .info.data_rvsp.mb-5
                                            i.icon.icon_check
                                            span.txt_bold.ml-3#guestName Yajaira Cruz
                                            span.txt_bold and Guest
                                        #minisection1.row
                                            .col.mb-5.resevation_form.mb-5
                                                .txt_bold.cl--gray.mb-3 Will you be attending our Gala?
                                                .form-check
                                                    input#yesAttending.form-check-input(type='radio' name='attending' value='option1')
                                                    label.form-check-label(for='yesAttending')
                                                        | Yes, can’t wait!
                                                .form-check
                                                    input#notAttending.form-check-input(type='radio' name='attending' value='option2')
                                                    label.form-check-label(for='notAttending')
                                                        | Regretfully, unable to attend
                                        #minisection2
                                            .row
                                              .col.mb-5.resevation_form
                                                  .txt_bold.cl--gray.mb-3 Will you be bringing a guest?
                                                  .form-check
                                                      input#yesMyGuest.form-check-input(type='radio' name='myGuest' value='option1')
                                                      label.form-check-label(for='yesMyGuest')
                                                          | Only me
                                                  .form-check
                                                      input#notMyGuest.form-check-input(type='radio' name='myGuest' value='option2')
                                                      label.form-check-label(for='notMyGuest')
                                                          | Yes, I’m bringing a guest
                                            .row#inputGuest
                                                .col.mb-5
                                                    .form-group
                                                        label.txt_bold.cl--gray
                                                            | Your Guest’s Name
                                                        input.form-control#myGuestName(type="text", name="myGuestName" form="formulario")
                                                        .error
                                        #minisection3.data
                                            .row
                                                .col.mb-5
                                                    .form-group
                                                        label.txt_bold.cl--gray
                                                            | What song will get you to join us on the dance floor?
                                                        input.form-control#songDanceFloor(type="text", placeholder="", name="songDanceFloor", form="formulario")
                                                        .error
                                            .row
                                                .col.mb-5
                                                    button.btn.btn_submit#SendEnd(type="submit") submit rsvp

                            #section6.item.content_item
                                .bdb--gains.bdb--x2.w-100.pd_top--x100.mg_bottom--x100
                                    .w-75.mx-auto
                                        .title.title_celebrate.txt_center.txt_three.cl--lightgray.txt_size--em7
                                            span.txt_thanks Thank You.
                                        .txt_center.d-block.mb-5
                                            hr.hr_site
                                        .paragraf.txt_center.my-5
                                            .txt_size--em3  We look foward to <br>  Celebrating with you!
                                        .row
                                            .col.mb-5
                                                button.btn.btn_submit.w-auto.closeSection DONE
                            #section7.item.content_item
                              .bdb--gains.bdb--x2.w-100.pd_top--x100.mg_bottom--x100
                                .w-75.mx-auto
                                  .title.title_celebrate.txt_center.txt_three.cl--lightgray.txt_size--em7
                                    span.txt_thanks Thank you <br> for your response!
                                  .txt_center.d-block.mb-5
                                    hr.hr_site
                                  .paragraf.txt_center.my-5
                                    .txt_size--em3 We hope you can join us <br> in future gatherings
                                  .row
                                    .col.mb-5
                                      button.btn.btn_submit.w-auto.closeSection EXIT
                    .footer.bgc--gains.fixed--bottom.txt_center
                        .deco_elipce