.fixed_navbar
  z-index: 10000
  text-align: right
  position: fixed
  width: auto
  top: 0
  right: 10px
  +MQ(M)
    width: auto
    top: 0
    right: 45%
.submenu
  display: inline-block
  position: relative

.dropdown-menu
  border-radius: 0px
  margin-top: 15px
  left: inherit
  right: -58px
  .dropdown-item:first-child
    border-bottom: 1px solid $gray
.dropdown-item
  padding: 1.5rem 3.5rem

.dropdown-item
  &.active
  +press
    background-color: $green
    color: white